<style>
    h2 {
        margin-top: 10px;
    }

    #content p {
        font-size: 16px;
        margin-bottom: 20px;
    }

    .thumbnail {
        margin-top: 5px;
        padding-bottom: 3px;
    }

    .thumbnail .caption {
        padding: 5px;
    }
</style>
<div class="letter">
<center><%= image_tag('nail.png', alt: 'nail', class:'nail', ) %></center>
<h1>About the Club</h1>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
        <h2>How We Got Started</h2>
        <p>The Terrapin Trail Club was founded in 1937 by Eleanor Cooley, a University of Maryland alumni. Cooley was
            inspired by the other prominent "outing clubs" at some of the prestigious New England universities and
            wondered if a similar club couldn't be founded right here at UMD. Since that time, the TTC has been a 100%
            student run and managed organization dedicated to the sponsoring of outdoors activities for its members of
            the campus community. The TTC is recognized by the SGA as an official student organization and by the
            University as the oldest continually operating club on campus!  We recently celebrated our 75th anniversary
            in 2012. We welcome you to come help us make the next 75 years as good as the last!</p>

        <h2>What Do We Do?</h2>
        <p>Now that's a question that officers and fellow members alike hear a lot from non-members. The appropriate
            answer should really be: "What <em>don't</em> we do?". The TTC prides itself on being an organization for
            students, by students. Our members plan and lead trips all over the country and sometimes across the globe.
            The sky is the limit when leading a trip with the TTC and the club encourages its members to lead a variety
            of unique trips to satisfy all members. Hiking, rock-climbing, biking, backpacking, front- and back-country
            camping, kayaking, and caving are some of the more common trips our members have led. Aiding in that pursuit
            is one of the greatest assets to our club: any member has access to the multitude of gear owned and
            meticulously maintained by the TTC's Gear Managers. Chances are, if you don't have it, we do! Most of our
            gear is purchased by the SGA, keeping the costs of membership affordable for all.</p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="thumbnail">
            <%= image_tag("about/canoeing.jpg", alt: "Rails", class: 'img img-responsive') %>
            <div class="caption">
                <small class="text-muted">Canoeing on the Saranac Lakes - Summer 2014</small>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="thumbnail">
            <%= image_tag("about/biking.jpg", alt: "Rails", class: 'img img-responsive') %>
            <div class="caption">
                <small class="text-muted">Mountain biking on Spruce Knob - Fall 2012</small>
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
        <h2>Where Do We Go?</h2>
        <p>The TTC has historically lead trips in the Mid-Atlantic region. The Shenandoah National Park, George
            Washington and Monongahela National Forests are tried-and-true TTC stomping grounds. However, we often
            venture outside of our region to amazing places. Recent trips to the Adirondacks, New Orleans, Zion National
            Park, Smokey Mountain National Park and Key West, Florida have exposed our members to new places, faces and
            experiences. As a trip leader, you get to choose where you want to go!  One of the best parts of the TTC is
            our commitment to exploration and experiencing the unknown while fostering meaningful friendships that often
            last well after our members graduate.</p>

        <h2>What is "Intro Trip"?</h2>
        <p>Every semester, the TTC ventures to beautiful Seneca Rocks in West Virginia for a weekend of multi-sport fun.
            This is the trip that attracts the largest number of TTC members each semester, so you don't want to miss
            it! Once there, our members are given the opportunity to choose two of the many activities we offer, such as
            hiking the desolate Dolly Sods Wilderness Area, mountain biking around Spruce Knob, top-rope climbing on
            Seneca Rocks and even caving in the nearby caves. All of the activities are geared towards beginners and are
            perfect for those new to the outdoors. Much of the gear required is provided to you, as the TTC has a
            multitude of tents, sleeping bags, bikes, climbing gear and headlamps. The trip costs $20 for the weekend
            and includes camping at the peaceful Seneca Shadows group campground, all necessary gear, food and
            activities.</p>
    </div>
</div>
<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-8 col-lg-8">
        <h2>Club Giveback</h2>
        <p>One of the best parts about the Terrapin Trail Club is our commitment to the environment and the trails we
            use every week. Trail maintenance and conservation projects are an integral part of our club. People often
            believe that they cannot make a difference in the world, especially when it comes to environmental
            conservation. Once you go on your first trail maintenance trip you will realize how much an impact you can
            make! Imagine a whole field of invasive plants (which suffocate and kill off native plants) exterminated
            after a hard day of work. Imagine the satisfaction felt when rebuilding an eroded trail, or removing a
            downed tree that blocked a trail. What about using GPS technology to help update trail maps? As a Terrapin
            Trail Club member, the opportunities are endless!</p>

        <p>The Terrapin Trail Club proudly coordinates with the National Park Service (NPS), Washington Suburban
            Sanitary Commission (WSSC), Maryland - National Capital Parks and Planning Commission (M-NCPPC), Potomac
            Appalachian Trail Club (PATC), and other local volunteer organizations to fight the things that damage our
            trails and wildlife. In addition, we are the official trail stewards of Billy Goat Trail Leg A, which is the
            most-hiked trail east of the Mississippi River. If you are a new member of the Terrapin Trail Club, trail
            maintenance projects are a great way to meet other members of our club while fighting for a great cause!</p>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-4 col-lg-4">
        <div class="thumbnail">
            <%= image_tag("about/giveback.jpg", alt: "Rails", class: 'img img-responsive') %>
            <div class="caption">
                <small class="text-muted">Trail maintenance at Blockhouse Point Conservation Park</small>
            </div>
        </div>
    </div>
    </div>
</div>