<div class="letter"><center><%= image_tag('nail.png', alt: 'nail', class:'nail', ) %></center>
<h1>E-mail: <a href="officers@lists.terrapintrailclub.org">officers@lists.terrapintrailclub.org</a></h1>
</div>