<script>
	$(document).ready(function(){
	     $(".start-slide").click(function(){
	        $("#myCarousel").carousel('cycle');
	    });
	});
</script>


    <div id="about" class="letter"><center><%= image_tag('nail.png', alt: 'nail', class:'nail', ) %></center><%= render 'layouts/elements/about' %></div>