<h3>About the Club</h3>
<p>
    The Terrapin Trail Club was founded in 1937 at the University of Maryland, 
    College Park, and is the oldest continually operating club on campus. We are
    a 100% student-run organization, meaning any member can lead any trip 
    anywhere! Our club is open to all University of Maryland students, faculty 
    staff, and alumnus regardless of age or skill level. We have all the gear 
    you need to help make your awesome outdoors adventure a reality.
</p>
<center>
<div class="buttons">
	<% if !logged_in? %>
		<%= link_to "Join Us", signup_path, class: "btn  woodbtn" %>
	<% end %>
	<% if logged_in? %>
		<%= link_to "Learn More", '/about', class: "btn  wide woodbtn" %>
	<% else %>
		<%= link_to "Learn More", '/about', class: "btn  woodbtn" %>
	<% end %>
</div>
</center>