<div class="footer navbar navbar-inverse navbar-static-bottom">
    <div class="navbar-collapse">
		<div class="col-md-4 col-lg-4">
			<div id="sitemap">
				<%= render "layouts/elements/sitemap" %>
			</div>
		</div>
		<div class="col-md-4 col-lg-4">
			<div id="credits">
				<%= render "layouts/elements/credits" %>
			</div>
		</div>
		<div class="col-md-4 col-lg-4">
			<div id="legal">
				<%= render "layouts/elements/legal" %>	
			</div>
			<div id="tech">
				<%= render "layouts/elements/tech" %>	
			</div>
		</div>
    </div>
</div>