		<div class="pull-left" id="logo">
	<%= image_tag("logo.png", alt: "Rails", class: 'pull-left') %>


    <h1>Terrapin Trail Club</h1>
    <h2>University of Maryland, Est. 1937</h2>
</div>
<div class="pull-right" id="hud">
	<div id="meeting">
	    <h2>Come hang out with us!</h2>
	    <p class="lead">
	        Every Monday, 7-9 PM in SPH 1301<br />
	        University of Maryland, College Park
	    </p>
	</div>
</div>
