<div class="container-fluid">
<div class="row">
        <div id="about" class="letter">
        <center><%= image_tag('nail.png', alt: 'nail', class:'nail', ) %></center>
        <%= render 'layouts/elements/about' %>
        </div>
</div>
</div>