<style>
    #message {
        text-align: justify;
    }

    #message img {
        margin: 0 15px 10px 0;
    }
</style>

<p>
    <%= image_tag("officers/lily_front_page.jpg", alt: "Lily", height: "150", width: "150", class: "img img-thumbnail pull-left") %>

    I first found out about Terrapin Trail Club last summer, before school had even started.  
    I met Nick Ruiz, our former president, at Maryland’s rock wall and he told me that if I 
    loved to climb and do other similar activities outside, I should join TTC. 
</p>

<p>
    I was shy and a little scared at first, because I was a freshman and completely new to the 
    university.  When I stepped into that room full of new faces, I sat next to someone and we 
    immediately struck up a conversation, and before I knew it I had a new friend.  That happened 
    several times that evening.  I realized that I had something in common with almost everyone in 
    the room, and that every person I talked to had some crazy outdoorsy story to tell, not unlike 
    my own.  I knew that I had found a group of people I could relate to, and for a nervous freshman 
    worried about not making any friends, that was comforting beyond belief.  
</p>
<p>
    My first trip was Intro Trip.  I remember our first dinner, at a small restaurant by Seneca Rocks, 
    and being introduced to several of the club old-timers.  I was intimidated, at first, but they 
    greeted me like an old friend, even though most of them didn’t even know who I was.  That night, 
    we all sat around a roaring campfire talking and laughing and telling stories, our faces lit only 
    by the firelight.   We woke the next morning before the sun, and headed out for a 10-mile paddle 
    down the Potomac.  Though some people had no experience with boats or whitewater at all, everyone 
    shared a similar bold sense of adventure.  We floated, we laughed, we had splash wars, we threw 
    acorns at each other, and we had more fun on that class I stretch of river than I originally 
    thought possible.  
</p>
<p>
    So, if you are a freshman looking for a club to join, or a senior looking for an escape from books 
    and maybe an adventure or two, then come out and join TTC.  It was by far the best decision I made 
    last fall, and it was where I met some of my favorite people on campus.  Come be awesome with us!
</p>
<p class="text-muted">
    &mdash; Lily Durkee, TTC Director of Outreach, Class of 2018
</p>