<style>
    #message {
        text-align: justify;
    }

    #message img {
        margin: 0 15px 10px 0;
    }
</style>

<p>
    <%= image_tag("officers/nruiz.jpg", alt: "Rails", height: "150", width: "150", class: "img img-thumbnail pull-left") %>

    As summer draws to a close it is scary to think that I will be graduating in
    less than half a year. I often wonder where my college days went... but then
    I slap myself for waxing eloquent and come to the realization that
    hands-down some of the best memories I had while at The University were with
    the TTC. I can still remember my first trip, a weekend backpacking jaunt
    with the infamous Jeremy "Papa Goat" Krones to Sproul State Forest in
    central Pennsylvania my freshman year. After a series of unfortunate events
    that left us stranded not 3 miles outside of campus with a burnt fuse and
    rolled-down windows (as an impending rain storm threatened), the five of us
    became intimately acquainted with each other in the early 90's matchbox of a
    car. By the time we arrived at our trailhead, five former strangers were now
    best of friends; through impromptu car maintenance, a speeding ticket and
    many wrong turns we had bonded and faced our troubles together.
</p>

<p>
    Looking back, the 32-mile trail was the easiest part of that trip. Honestly,
    that is what the TTC is all about: Strangers coming together with some idea
    of what they want to accomplish, forming bonds and sharing the love of the
    outdoors and all things adventure. We might all arrive at the TTC by
    different means...the eager freshman looking to branch out, the accomplished
    senior hoping to finally go on a trip with "that awesome club all his
    friends talk about", the UMD alumnus seeking the familiarity of the campus
    community after she has been thrust into the "real world"...but we all come
    out as one united, connected and strengthened campus community. The TTC is
    the "best thing that ever happened to me," the "why didn't I join sooner,"
    and the "my kids won't believe what I did in college" kind of club, and I
    hope you get as much out of the club as I did in my three and a half years
    here at UMD. Will I come back after I graduate? Heck yeah! This club is just
    too awesome! Here's to another 75 years!
</p>
<p class="text-muted">
    &mdash; Nick Ruiz, TTC President, Class of 2014
</p>