<h3>Mission Statement</h3>
<p>"The official purpose of the TTC shall be: To offer all students, faculty and staff of the University of Maryland the
    opportunity to enjoy the outdoors, provide an introduction to outdoor activities, provide necessary skills required 
    to enjoy the outdoors safely, encourage conservation of our natural environment, provide an avenue for social 
    participation and to maintain a welcoming environment where all are accepted and valued for their contributions to 
    the Club."</p>