<p>
    Powered by <a href="http://rubyonrails.org" target="_blank" class="navbar-link">Ruby on Rails</a><br />
    Built with <a href="http://getbootstrap.com" target="_blank" class="navbar-link">Bootstrap</a>
</p>